body {
    font-family: 'Karla', sans-serif;
    background: #E6EFF6;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin: 0 0 0.8em;
    color: #2BB3B1;
    letter-spacing: 0.2px;
    font-weight: 700;
}

h2 {
    margin: 0 0 0.5em;
    font-size: 18px;
    color: #C1DA48;
    letter-spacing: -0.25px;
    font-weight: 700;
}

h3 {
    margin: 0 0 1em;
    font-size: 18px;
    letter-spacing: -0.25px;
}

p {
    color: #A5A9B2;
    margin: 0;
    letter-spacing: -0.01rem;
    line-height: 1.625rem;
}

main {
    width: 635px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-shrink: 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 16px 34px rgba(32,80,128,0.15);
}

main>div {
    padding: 40px;
}

.header {
    background-color: #fff;
    grid-column: span 2;
}

.cta {
    background-color: #2CB2B1;
    color: #fff;
    position: relative;
}

.cta-price {
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.cta-price span {
    font-weight: 400;
    font-size: 0.5em;
    opacity: 0.5;
    padding-left: 0.5em;
}

.cta p {
    color: inherit;
}

.cta button {
    background: #BEE034;
    box-shadow: 0 6px 14px 0 rgba(0,0,0,0.15);
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
    height: 48px;
    margin-top: 28px;
    transition: 200ms ease;
}

.cta button:hover {
    cursor: pointer;
    transform: scale(1.015);
    box-shadow: 0 px 18px 0 rgba(0,0,0,0.15);

}

.why-us {
    background-color: #49BDBC;
    color: #fff;
}

.why-us ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    opacity: 0.75;
    letter-spacing: -0.2px;
    line-height: 20px;
}

footer {
    position: absolute;
    bottom: 20px;
    z-index: -1;
}

/* Media Queries */

@media only screen and (max-width: 570px) {

    body {
        height: auto;
    }

    main {
        width: 100%;
        grid-template-columns: 1fr;
        flex-shrink: 0;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 16px 34px rgba(32,80,128,0.15);
    }

    .header {
        grid-column: span 1;
    }
}    